<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>HomePage</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">

  <style>
    .mainlogo {
      font: 20px Arial, sans-serif;
      font-style: italic;
      font-size: 25px;
      color: rgb(114, 53, 10);
    }

    .headerOption {
      float: left;
      text-indent: 40px;
    }

    .mainPageLogo {
      float: initial;
      justify-content: space-around;
      clear: both;
      position: relative;
    }

    
  </style>

</head>

<body>
  

  <section class="mainPageLogo">
    <div style="font-size: 40px;">Q-Pon</div>
    <div style="font-size:16px">Redeem your coins for coupons.</div>
  </section>

  <section >
    <div class="columns is-mobile is-multiline">
      <div class="column is-half-mobile card">
          <figure class="image is-square is-vcentered">
              <img style="object-fit:cover" src="https://picsum.photos/seed/picsum1/500/500" />
          </figure>
      </div>
      <div class="column is-half-mobile card is-vcentered">
          <figure class="image is-3by4">
              <img style="object-fit:cover" src="https://picsum.photos/seed/picsum5/500/1500" />
          </figure>
      </div>
      <div class="column is-half-mobile card is-vcentered">
          <figure class="image is-4by3">
              <img style="object-fit:cover" src="https://picsum.photos/seed/picsum2/1500/500" />
          </figure>
      </div>
      <div class="column is-half-mobile card is-vcentered">
          <figure class="image is-square">
              <img style="object-fit:cover" src="https://picsum.photos/seed/picsum4/500/500" />
          </figure>
      </div>
  </div>
    <div class = "figure1">HK Isaland</div>

    <div class = "figure2">Kowloon</div>

    <div class ="figure3">New Territories</div>
    
  </section>


</body>

</html>